<section>
  <div id="renderer"></div>
  <span id="questionBox"
        *ngIf="this.stage===this.stages.SHOW
        ||this.stage===this.stages.GRAB
        ||this.stage===this.stages.CHOOSE">
    <div class="body">{{this.question.body}}</div>
    <ul>
      <li
        [class.--disabled]="stage!==stages.CHOOSE"
        (click)="stage===stages.CHOOSE&&makeChoice('A')">
        A: {{this.question.choices['A']}}
      </li>
      <li
        [class.--disabled]="stage!==stages.CHOOSE"
        (click)="stage===stages.CHOOSE&&makeChoice('B')">
        B: {{this.question.choices['B']}}
      </li>
      <li
        [class.--disabled]="stage!==stages.CHOOSE"
        (click)="stage===stages.CHOOSE&&makeChoice('C')">
        C: {{this.question.choices['C']}}
      </li>
      <li
        [class.--disabled]="stage!==stages.CHOOSE"
        (click)="stage===stages.CHOOSE&&makeChoice('D')">
        D: {{this.question.choices['D']}}
      </li>
    </ul>
    <button
      [class.--disabled]="stage!==stages.GRAB"
      (click)="grabStart()">
      {{this.buttonText}}
    </button>
  </span>
  <button id="catch"  [style.display]="this.showCatchButton?'block':'none'" (click)="catch()">
    CATCH
  </button>
  <div id="panel" [style.display]="this.stage===stages.MOVE?'block':'none'"></div>
</section>

<app-chat></app-chat>